@font-face {
  font-family: summaryFont;
  src: url(./resources/summaryFont.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: summaryFont, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

header,
footer {
  text-align: center;
  width: 100vw;
  background: #60ce80;
  color: white;
  padding: 10px 0;
}

header {
  font-size: 2em;
  letter-spacing: 0.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer {
  font-weight: bold;
  font-family: sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 600px;
  justify-content: center;
  display: none;
  gap: 10px;
}

.card {
  box-sizing: border-box;
  font-size: 5em;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.front,
.back {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid	#154360;
}

.front {
  position: absolute;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  backface-visibility: hidden;
  transform: rotateY(180deg)
}

.flip {
  padding-right: 10px;
  transform: rotateY(180deg);
}

.hide {
  transition: all 0.75s ease;
  transform: rotateY(180deg);
  opacity: 0%;
}

.status {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.status > p {
  display: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  /* font-weight: bold; */
}

.difficulty {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
}

.difficulty > button{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  padding: 5px 20px;
}

button:hover {
  background-color: #60ce80;
}

button:active {
  background-color: #27793e;
  color: white
}

@media (max-height: 800px) {
  .container {
    width: 375px;
    height: 450px;
  }
}

@media (max-width: 768px){
  main {
    gap: 20px;
  }
  header {
    font-size: 15px;
  }

  .status {
    font-size: 11px;
    width: 100%;
  }

  .container {
    width: 325px;
    height: 425px;
  }

  .difficulty > button {
    font-size: 20px;
  }
}